<a href="https://colab.research.google.com/github/Ray88888888/Cheap-Talk-Game/blob/main/Cheap_Talk_Experiment_data%20visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Import Data & Summary Statistics

In [4]:
from google.colab import files
uploaded = files.upload()

Saving talk_dt1.xlsx to talk_dt1.xlsx
Saving talk_dt2.xlsx to talk_dt2.xlsx
Saving talk_dt3.xlsx to talk_dt3.xlsx

In [5]:
import io
dt1=pd.read_excel(io.BytesIO(uploaded['talk_dt1.xlsx']))
dt2=pd.read_excel(io.BytesIO(uploaded['talk_dt2.xlsx']))
dt3=pd.read_excel(io.BytesIO(uploaded['talk_dt3.xlsx']))

In [6]:
# looking at senders

dt1s = dt1[dt1.player_id == 1]

ratios = ['N_good', 'N_bad', 'rec_good', 'rec_bad', 'take_rec',
          'take_norec', 'take_good', 'take_bad']

index1 = ['dt1', 'dt2', 'dt3']

summary = pd.DataFrame(index=index1, columns=ratios)
summary.loc['dt1', 'N_good'] = dt1s[(dt1s['value'] >= 60)].shape[0]

summary.loc['dt1', 'N_bad'] = dt1s[(dt1s['value'] < 60)].shape[0]

summary.loc['dt1', 'rec_good'] = dt1s[(dt1s['value'] >= 60) & (dt1s.message == 1)].shape[0] / \
             dt1s[(dt1s['value'] >= 60)].shape[0]

summary.loc['dt1', 'rec_bad'] = dt1s[(dt1s.value < 60) & (dt1s.message == 1)].shape[0] / \
             dt1s[(dt1s.value < 60)].shape[0]

summary.loc['dt1', 'take_rec'] = dt1s[(dt1s['take'] == 1) & (dt1s.message == 1)].shape[0] / \
             dt1s[(dt1s.message == 1)].shape[0]

summary.loc['dt1', 'take_norec'] = dt1s[(dt1s['take'] == 1) & (dt1s.message == 2)].shape[0] / \
             dt1s[(dt1s.message == 2)].shape[0] if dt1s[(dt1s.message == 2)].shape[0] > 0 else 999


summary.loc['dt1', 'take_good'] = dt1s[(dt1s['take'] == 1) & (dt1s.value >= 60)].shape[0] / \
             dt1s[(dt1s.value >= 60)].shape[0]

summary.loc['dt1', 'take_bad'] = dt1s[(dt1s['take'] == 1) & (dt1s.value < 60)].shape[0] / \
             dt1s[(dt1s.value < 60)].shape[0]

In [7]:
dt2s = dt2[dt2.player_id == 1]

summary.loc['dt2', 'N_good'] = dt2s[(dt2s['value1'] >= 60)].shape[0] \
                               + dt2s[(dt2s['value2'] >= 60)].shape[0]

summary.loc['dt2', 'N_bad'] = dt2s[(dt2s['value1'] < 60)].shape[0] \
                               + dt2s[(dt2s['value2'] < 60)].shape[0]

summary.loc['dt2', 'rec_good'] = (dt2s[(dt2s.value1 >= 60) & (dt2s.message1 == 1)].shape[0] +
              dt2s[(dt2s.value2 >= 60) & (dt2s.message2 == 1)].shape[0]) / \
             (dt2s[(dt2s.value1 >= 60)].shape[0] + dt2s[(dt2s.value2 >= 60)].shape[0])

summary.loc['dt2', 'rec_bad'] = (dt2s[(dt2s.value1 < 60) & (dt2s.message1 == 1)].shape[0] +
              dt2s[(dt2s.value2 < 60) & (dt2s.message2 == 1)].shape[0]) / \
             (dt2s[(dt2s.value1 < 60)].shape[0] + dt2s[(dt2s.value2 < 60)].shape[0])


summary.loc['dt2', 'take_rec'] = (dt2s[(dt2s['take1'] == 1) & (dt2s.message1 == 1)].shape[0] +
              dt2s[(dt2s['take2'] == 1) & (dt2s.message2 == 1)].shape[0]) / \
             (dt2s[dt2s.message1 == 1].shape[0] + dt2s[dt2s.message2 == 1].shape[0])

summary.loc['dt2', 'take_norec'] = (dt2s[(dt2s['take1'] == 1) & (dt2s.message1 == 2)].shape[0] +
                dt2s[(dt2s['take2'] == 1) & (dt2s.message2 == 2)].shape[0]) / \
                (dt2s[dt2s.message1 == 2].shape[0] + dt2s[dt2s.message2 == 2].shape[0]) \
    if (dt2s[dt2s.message1 == 2].shape[0] + dt2s[dt2s.message2 == 2].shape[0]) > 0 else 999

summary.loc['dt2', 'take_good'] = (dt2s[(dt2s['take1'] == 1) & (dt2s.value1 >= 60)].shape[0] +
                 dt2s[(dt2s['take2'] == 1) & (dt2s.value2 >= 60)].shape[0]) / \
                (dt2s[dt2s.value1 >= 60].shape[0] + dt2s[dt2s.value2 >= 60].shape[0])

summary.loc['dt2', 'take_bad'] = (dt2s[(dt2s['take1'] == 1) & (dt2s.value1 < 60)].shape[0] +
                 dt2s[(dt2s['take2'] == 1) & (dt2s.value2 < 60)].shape[0]) / \
                (dt2s[dt2s.value1 < 60].shape[0] + dt2s[dt2s.value2 < 60].shape[0])

In [8]:
dt3s = dt3[dt3.player_id == 1]

summary.loc['dt3', 'N_good'] = dt3s[(dt3s['value1'] >= 60)].shape[0] \
                               + dt3s[(dt3s['value2'] >= 60)].shape[0] + dt3s[(dt3s['value3'] >= 60)].shape[0]

summary.loc['dt3', 'N_bad'] = dt3s[(dt3s['value1'] < 60)].shape[0] \
                               + dt3s[(dt3s['value2'] < 60)].shape[0] + dt3s[(dt3s['value3'] < 60)].shape[0]

summary.loc['dt3', 'rec_good'] = (dt3s[(dt3s.value1 >= 60) & (dt3s.message1 == 1)].shape[0] +
                                  dt3s[(dt3s.value2 >= 60) & (dt3s.message2 == 1)].shape[0] +
                                  dt3s[(dt3s.value3 >= 60) & (dt3s.message3 == 1)].shape[0]) / \
                                 (dt3s[(dt3s.value1 >= 60)].shape[0] + dt3s[(dt3s.value2 >= 60)].shape[0] +
                                  dt3s[(dt3s.value3 >= 60)].shape[0])

summary.loc['dt3', 'rec_bad'] = (dt3s[(dt3s.value1 < 60) & (dt3s.message1 == 1)].shape[0] +
                                 dt3s[(dt3s.value2 < 60) & (dt3s.message2 == 1)].shape[0] +
                                 dt3s[(dt3s.value3 < 60) & (dt3s.message3 == 1)].shape[0]) / \
                                (dt3s[(dt3s.value1 < 60)].shape[0] + dt3s[(dt3s.value2 < 60)].shape[0] +
                                 dt3s[(dt3s.value3 < 60)].shape[0])


summary.loc['dt3', 'take_rec'] = (dt3s[(dt3s['take1'] == 1) & (dt3s.message1 == 1)].shape[0] +
                                  dt3s[(dt3s['take2'] == 1) & (dt3s.message2 == 1)].shape[0] +
                                  dt3s[(dt3s['take3'] == 1) & (dt3s.message3 == 1)].shape[0]) / \
                                 (dt3s[dt3s.message1 == 1].shape[0] + dt3s[dt3s.message2 == 1].shape[0] +
                                  dt3s[dt3s.message3 == 1].shape[0])

summary.loc['dt3', 'take_norec'] = (dt3s[(dt3s['take1'] == 1) & (dt3s.message1 == 2)].shape[0] +
                                    dt3s[(dt3s['take2'] == 1) & (dt3s.message2 == 2)].shape[0] +
                                    dt3s[(dt3s['take3'] == 1) & (dt3s.message3 == 2)].shape[0]) / \
                                   (dt3s[dt3s.message1 == 2].shape[0] + dt3s[dt3s.message2 == 2].shape[0] +
                                    dt3s[dt3s.message3 == 2].shape[0]) \
    if (dt3s[dt3s.message1 == 2].shape[0] + dt3s[dt3s.message2 == 2].shape[0] +dt3s[dt3s.message3 == 2].shape[0]) > 0 else 999

summary.loc['dt3', 'take_good'] = (dt3s[(dt3s['take1'] == 1) & (dt3s.value1 >= 60)].shape[0] +
                                   dt3s[(dt3s['take2'] == 1) & (dt3s.value2 >= 60)].shape[0] +
                                   dt3s[(dt3s['take3'] == 1) & (dt3s.value3 >= 60)].shape[0]) / \
                                  (dt3s[dt3s.value1 >= 60].shape[0] + dt3s[dt3s.value2 >= 60].shape[0] +
                                   dt3s[dt3s.value3 >= 60].shape[0])

summary.loc['dt3', 'take_bad'] = (dt3s[(dt3s['take1'] == 1) & (dt3s.value1 < 60)].shape[0] +
                                  dt3s[(dt3s['take2'] == 1) & (dt3s.value2 < 60)].shape[0] +
                                  dt3s[(dt3s['take2'] == 1) & (dt3s.value2 < 60)].shape[0]) / \
                                 (dt3s[dt3s.value1 < 60].shape[0] + dt3s[dt3s.value2 < 60].shape[0] +
                                  dt3s[dt3s.value3 < 60].shape[0])

In [9]:
print(summary)
summary.to_excel('main_summary.xlsx')

    N_good N_bad  rec_good   rec_bad  take_rec take_norec take_good  take_bad
dt1    187   243  0.919786  0.806584  0.355978  0.0645161  0.347594  0.288066
dt2    340   520  0.914706  0.521154  0.616838  0.0323741  0.614706  0.305769
dt3    554   736  0.924188  0.476902  0.698725   0.028103  0.648014  0.336957

#Data Visualization

In [10]:
from google.colab import files
uploaded = files.upload()

Saving main_summary.xlsx to main_summary (1).xlsx

In [11]:
df=pd.read_excel(io.BytesIO(uploaded['main_summary.xlsx']))
df.head()

  Unnamed: 0  N_good  N_bad  ...  take_norec  take_good  take_bad
0        dt1     187    243  ...    0.064516   0.347594  0.288066
1        dt2     340    520  ...    0.032374   0.614706  0.305769
2        dt3     554    736  ...    0.028103   0.648014  0.336957

[3 rows x 9 columns]

##Variable Intro
---
```markdown
* 'N_good', number of good items
* 'N_bad', number of bad items
* 'rec_good', P(A recommends|item is good)
* 'rec_bad', P(A recommends|item is bad)
* 'take_rec', P(B acquires | A recommends )
* 'take_norec', P(B acquires | A not recommends )
* 'take_good', P(B acquires | item good )
* 'take_bad',  P(B acquires | item bad )
```
---
For the 3 graphs, we are interested in:
(1) //lying ratio//  'rec_bad', P(A recommends|item is bad)
(2) //trust ratio//  'take_rec', P(B acquires | A recommends )
(3) //accuracy of B//  ( a weighted average of P(B acquires | item good ) and P(B not acquires | item bad ))

In [52]:
Variable = ['round','N_itemisbad','N_rec_bad','rec_bad','N_rec','N_take_rec','take_rec',
            'N_itemisgood','N_take_good','take_good','N_notake_bad', 'notake_bad']
Index = ['dt1']*10+['dt2']*10+['dt3']*10
df = pd.DataFrame(index=Index, columns=Variable)
df.head()

    round N_itemisbad N_rec_bad  ... take_good N_notake_bad notake_bad
dt1   NaN         NaN       NaN  ...       NaN          NaN        NaN
dt1   NaN         NaN       NaN  ...       NaN          NaN        NaN
dt1   NaN         NaN       NaN  ...       NaN          NaN        NaN
dt1   NaN         NaN       NaN  ...       NaN          NaN        NaN
dt1   NaN         NaN       NaN  ...       NaN          NaN        NaN

[5 rows x 12 columns]

In [73]:
df['round'] = [1,2,3,4,5,6,7,8,9,10]*3
df['N_itemisbad']=[0]*30
df['N_rec_bad']=[0]*30
df.head()

     round  N_itemisbad  N_rec_bad  ...  take_good N_notake_bad notake_bad
dt1      1            0          0  ...        NaN          NaN        NaN
dt1      2            0          0  ...        NaN          NaN        NaN
dt1      3            0          0  ...        NaN          NaN        NaN
dt1      4            0          0  ...        NaN          NaN        NaN
dt1      5            0          0  ...        NaN          NaN        NaN

[5 rows x 12 columns]

In [100]:
df['N_rec']=[0]*30
df['N_take_rec']=[0]*30
df.head()
df.head()

     round  N_itemisbad  N_rec_bad  ...  take_good  N_notake_bad  notake_bad
dt1      1           29         28  ...        NaN           NaN         NaN
dt1      2           24         21  ...        NaN           NaN         NaN
dt1      3           28         18  ...        NaN           NaN         NaN
dt1      4           25         22  ...        NaN           NaN         NaN
dt1      5           23         19  ...        NaN           NaN         NaN

[5 rows x 12 columns]

##Lying Ratio

In [75]:
dt1s.head()

   Unnamed: 0         Treat  Session  ID  ...  message  take  payoff  sequence
0           0  21-05-17_rec      301   1  ...        1     1      15       123
1           1  21-05-17_rec      301   1  ...        1     2       0       123
2           2  21-05-17_rec      301   1  ...        1     2       0       123
3           3  21-05-17_rec      301   1  ...        1     2       0       123
4           4  21-05-17_rec      301   1  ...        1     1      15       123

[5 rows x 12 columns]

In [76]:
#caculate the lying probability in Treatment One (dt1)
index=dt1s.index
for k in index:
  if dt1s['value'][k] < 60:
    roundnumber=dt1s['round'][k]-1
    df['N_itemisbad'][roundnumber]+=1
    if dt1s['message'][k]== 1:
      df['N_rec_bad'][roundnumber]+=1
df['rec_bad'] = df['N_rec_bad']/df['N_itemisbad']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

     round  N_itemisbad  N_rec_bad  ...  take_good N_notake_bad notake_bad
dt1      1           29         28  ...        NaN          NaN        NaN
dt1      2           24         21  ...        NaN          NaN        NaN
dt1      3           28         18  ...        NaN          NaN        NaN
dt1      4           25         22  ...        NaN          NaN        NaN
dt1      5           23         19  ...        NaN          NaN        NaN

[5 rows x 12 columns]

In [80]:
dt2s.head()

   Unnamed: 0         Treat  Session  ID  ...  compare  payoff1  payoff2  sequence
1           1  21-05-17_rec      301   1  ...      NaN       15        0       123
2           2  21-05-17_rec      301   1  ...      NaN        0       15       123
3           3  21-05-17_rec      301   1  ...      NaN        0       15       123
5           5  21-05-17_rec      301   1  ...      NaN        0       15       123
6           6  21-05-17_rec      301   1  ...      NaN       15       15       123

[5 rows x 17 columns]

In [81]:
#caculate the lying probability in Treatment Two (dt2)
index=dt2s.index
for k in index:
  #check the first good
  if dt2s['value1'][k] < 60:
    roundnumber=dt2s['round'][k]+9
    df['N_itemisbad'][roundnumber]+=1
    if dt2s['message1'][k]== 1:
      df['N_rec_bad'][roundnumber]+=1
  #check the second good
  if dt2s['value2'][k] < 60:
    roundnumber=dt2s['round'][k]+9
    df['N_itemisbad'][roundnumber]+=1
    if dt2s['message2'][k]== 1:
      df['N_rec_bad'][roundnumber]+=1
df['rec_bad'] = df['N_rec_bad']/df['N_itemisbad']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

     round  N_itemisbad  N_rec_bad  ...  take_good N_notake_bad notake_bad
dt1      1           29         28  ...        NaN          NaN        NaN
dt1      2           24         21  ...        NaN          NaN        NaN
dt1      3           28         18  ...        NaN          NaN        NaN
dt1      4           25         22  ...        NaN          NaN        NaN
dt1      5           23         19  ...        NaN          NaN        NaN

[5 rows x 12 columns]

In [83]:
dt3s.head()

   Unnamed: 0         Treat  Session  ID  ...  payoff1  payoff2  payoff3  sequence
2           2  21-05-17_rec      301   1  ...       15        0        0       123
4           4  21-05-17_rec      301   1  ...        0        0        0       123
5           5  21-05-17_rec      301   1  ...        0       15       15       123
6           6  21-05-17_rec      301   1  ...        0       15       15       123
7           7  21-05-17_rec      301   1  ...       15        0       15       123

[5 rows x 20 columns]

In [84]:
#caculate the lying probability in Treatment Three (dt3)
index=dt3s.index
for k in index:
  #check the first good
  if dt3s['value1'][k] < 60:
    roundnumber=dt3s['round'][k]+19
    df['N_itemisbad'][roundnumber]+=1
    if dt3s['message1'][k]== 1:
      df['N_rec_bad'][roundnumber]+=1
  #check the second good
  if dt3s['value2'][k] < 60:
    roundnumber=dt3s['round'][k]+19
    df['N_itemisbad'][roundnumber]+=1
    if dt3s['message2'][k]== 1:
      df['N_rec_bad'][roundnumber]+=1
  #check the third good
  if dt3s['value3'][k] < 60:
    roundnumber=dt3s['round'][k]+19
    df['N_itemisbad'][roundnumber]+=1
    if dt3s['message3'][k]== 1:
      df['N_rec_bad'][roundnumber]+=1
df['rec_bad'] = df['N_rec_bad']/df['N_itemisbad']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [85]:
df

     round  N_itemisbad  N_rec_bad  ...  take_good N_notake_bad notake_bad
dt1      1           29         28  ...        NaN          NaN        NaN
dt1      2           24         21  ...        NaN          NaN        NaN
dt1      3           28         18  ...        NaN          NaN        NaN
dt1      4           25         22  ...        NaN          NaN        NaN
dt1      5           23         19  ...        NaN          NaN        NaN
dt1      6           27         21  ...        NaN          NaN        NaN
dt1      7           26         19  ...        NaN          NaN        NaN
dt1      8           17         14  ...        NaN          NaN        NaN
dt1      9           19         15  ...        NaN          NaN        NaN
dt1     10           25         19  ...        NaN          NaN        NaN
dt2      1           52         28  ...        NaN          NaN        NaN
dt2      2           53         21  ...        NaN          NaN        NaN
dt2      3           41         17  ...        NaN          NaN        NaN
dt2      4           49         25  ...        NaN          NaN        NaN
dt2      5           50         27  ...        NaN          NaN        NaN
dt2      6           60         34  ...        NaN          NaN        NaN
dt2      7           56         31  ...        NaN          NaN        NaN
dt2      8           52         28  ...        NaN          NaN        NaN
dt2      9           47         23  ...        NaN          NaN        NaN
dt2     10           60         37  ...        NaN          NaN        NaN
dt3      1           75         34  ...        NaN          NaN        NaN
dt3      2           76         33  ...        NaN          NaN        NaN
dt3      3           69         27  ...        NaN          NaN        NaN
dt3      4           72         37  ...        NaN          NaN        NaN
dt3      5           73         35  ...        NaN          NaN        NaN
dt3      6           66         29  ...        NaN          NaN        NaN
dt3      7           75         43  ...        NaN          NaN        NaN
dt3      8           81         40  ...        NaN          NaN        NaN
dt3      9           75         37  ...        NaN          NaN        NaN
dt3     10           74         36  ...        NaN          NaN        NaN

[30 rows x 12 columns]

In [86]:
import plotly.express as px
import plotly.offline as py     
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [99]:
trace0 = go.Scatter(x = df["round"][0:10], y = df["rec_bad"][0:10], hoverinfo='x+y', mode='lines',  name = 'Treament 1')
trace1 = go.Scatter(x = df["round"][10:20], y = df["rec_bad"][10:20], hoverinfo='x+y', mode='lines',  name = 'Treament 2')
trace2 = go.Scatter(x = df["round"][20:30], y = df["rec_bad"][20:30], hoverinfo='x+y', mode='lines',  name = 'Treament 3')
layout = go.Layout(title="Lying Ratio in 10 rounds in 3 treatments, P(A recommends|item is bad)", xaxis = dict(title="round"), yaxis = dict(title ="probability") ) 
data = [trace0,trace1,trace2]


fig1 = go.Figure(layout = layout, data = data) 
fig1.update_yaxes(type="log")
fig1.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(step="all"),
            dict(count=1, label="1m", step="month", stepmode="backward"),
            dict(count=3, label="3m", step="month", stepmode="backward"),
            dict(count=3, label="6m", step="month", stepmode="backward"),
            dict(count=1, label="1y", step="year", stepmode="backward"),
            dict(count=1, label="YTD", step="year", stepmode="todate"),
          
        ])))
py.iplot(fig1)

##Trust Ratio

In [101]:
df.head()

     round  N_itemisbad  N_rec_bad  ...  take_good  N_notake_bad  notake_bad
dt1      1           29         28  ...        NaN           NaN         NaN
dt1      2           24         21  ...        NaN           NaN         NaN
dt1      3           28         18  ...        NaN           NaN         NaN
dt1      4           25         22  ...        NaN           NaN         NaN
dt1      5           23         19  ...        NaN           NaN         NaN

[5 rows x 12 columns]

In [103]:
dt1s.head()

   Unnamed: 0         Treat  Session  ID  ...  message  take  payoff  sequence
0           0  21-05-17_rec      301   1  ...        1     1      15       123
1           1  21-05-17_rec      301   1  ...        1     2       0       123
2           2  21-05-17_rec      301   1  ...        1     2       0       123
3           3  21-05-17_rec      301   1  ...        1     2       0       123
4           4  21-05-17_rec      301   1  ...        1     1      15       123

[5 rows x 12 columns]

In [104]:
#caculate the trust ratio in Treatment One (dt1)
index=dt1s.index
for k in index:
  if dt1s['message'][k]==1:
    roundnumber=dt1s['round'][k]-1
    df['N_rec'][roundnumber]+=1
    if dt1s['take'][k]==1:
      df['N_take_rec'][roundnumber]+=1
df['take_rec'] = df['N_take_rec']/df['N_rec']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     round  N_itemisbad  N_rec_bad  ...  take_good  N_notake_bad  notake_bad
dt1      1           29         28  ...        NaN           NaN         NaN
dt1      2           24         21  ...        NaN           NaN         NaN
dt1      3           28         18  ...        NaN           NaN         NaN
dt1      4           25         22  ...        NaN           NaN         NaN
dt1      5           23         19  ...        NaN           NaN         NaN

[5 rows x 12 columns]

In [106]:
dt2s.head()

   Unnamed: 0         Treat  Session  ID  ...  compare  payoff1  payoff2  sequence
1           1  21-05-17_rec      301   1  ...      NaN       15        0       123
2           2  21-05-17_rec      301   1  ...      NaN        0       15       123
3           3  21-05-17_rec      301   1  ...      NaN        0       15       123
5           5  21-05-17_rec      301   1  ...      NaN        0       15       123
6           6  21-05-17_rec      301   1  ...      NaN       15       15       123

[5 rows x 17 columns]

In [107]:
#caculate the trust ratio in Treatment One (dt2)
index=dt2s.index
for k in index:
  if dt2s['message1'][k]==1:
    roundnumber=dt2s['round'][k]+9
    df['N_rec'][roundnumber]+=1
    if dt2s['take1'][k]==1:
      df['N_take_rec'][roundnumber]+=1
for k in index:
  if dt2s['message2'][k]==1:
    roundnumber=dt2s['round'][k]+9
    df['N_rec'][roundnumber]+=1
    if dt2s['take2'][k]==1:
      df['N_take_rec'][roundnumber]+=1
df['take_rec'] = df['N_take_rec']/df['N_rec']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     round  N_itemisbad  N_rec_bad  ...  take_good  N_notake_bad  notake_bad
dt1      1           29         28  ...        NaN           NaN         NaN
dt1      2           24         21  ...        NaN           NaN         NaN
dt1      3           28         18  ...        NaN           NaN         NaN
dt1      4           25         22  ...        NaN           NaN         NaN
dt1      5           23         19  ...        NaN           NaN         NaN

[5 rows x 12 columns]

In [109]:
#caculate the trust ratio in Treatment One (dt2)
index=dt3s.index
for k in index:
  if dt3s['message1'][k]==1:
    roundnumber=dt3s['round'][k]+19
    df['N_rec'][roundnumber]+=1
    if dt3s['take1'][k]==1:
      df['N_take_rec'][roundnumber]+=1
for k in index:
  if dt3s['message2'][k]==1:
    roundnumber=dt3s['round'][k]+19
    df['N_rec'][roundnumber]+=1
    if dt3s['take2'][k]==1:
      df['N_take_rec'][roundnumber]+=1
for k in index:
  if dt3s['message3'][k]==1:
    roundnumber=dt3s['round'][k]+19
    df['N_rec'][roundnumber]+=1
    if dt3s['take3'][k]==1:
      df['N_take_rec'][roundnumber]+=1
df['take_rec'] = df['N_take_rec']/df['N_rec']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     round  N_itemisbad  N_rec_bad  ...  take_good  N_notake_bad  notake_bad
dt1      1           29         28  ...        NaN           NaN         NaN
dt1      2           24         21  ...        NaN           NaN         NaN
dt1      3           28         18  ...        NaN           NaN         NaN
dt1      4           25         22  ...        NaN           NaN         NaN
dt1      5           23         19  ...        NaN           NaN         NaN

[5 rows x 12 columns]

In [110]:
df

     round  N_itemisbad  N_rec_bad  ...  take_good  N_notake_bad  notake_bad
dt1      1           29         28  ...        NaN           NaN         NaN
dt1      2           24         21  ...        NaN           NaN         NaN
dt1      3           28         18  ...        NaN           NaN         NaN
dt1      4           25         22  ...        NaN           NaN         NaN
dt1      5           23         19  ...        NaN           NaN         NaN
dt1      6           27         21  ...        NaN           NaN         NaN
dt1      7           26         19  ...        NaN           NaN         NaN
dt1      8           17         14  ...        NaN           NaN         NaN
dt1      9           19         15  ...        NaN           NaN         NaN
dt1     10           25         19  ...        NaN           NaN         NaN
dt2      1           52         28  ...        NaN           NaN         NaN
dt2      2           53         21  ...        NaN           NaN         NaN
dt2      3           41         17  ...        NaN           NaN         NaN
dt2      4           49         25  ...        NaN           NaN         NaN
dt2      5           50         27  ...        NaN           NaN         NaN
dt2      6           60         34  ...        NaN           NaN         NaN
dt2      7           56         31  ...        NaN           NaN         NaN
dt2      8           52         28  ...        NaN           NaN         NaN
dt2      9           47         23  ...        NaN           NaN         NaN
dt2     10           60         37  ...        NaN           NaN         NaN
dt3      1           75         34  ...        NaN           NaN         NaN
dt3      2           76         33  ...        NaN           NaN         NaN
dt3      3           69         27  ...        NaN           NaN         NaN
dt3      4           72         37  ...        NaN           NaN         NaN
dt3      5           73         35  ...        NaN           NaN         NaN
dt3      6           66         29  ...        NaN           NaN         NaN
dt3      7           75         43  ...        NaN           NaN         NaN
dt3      8           81         40  ...        NaN           NaN         NaN
dt3      9           75         37  ...        NaN           NaN         NaN
dt3     10           74         36  ...        NaN           NaN         NaN

[30 rows x 12 columns]

In [112]:
trace0 = go.Scatter(x = df["round"][0:10], y = df["take_rec"][0:10], hoverinfo='x+y', mode='lines',  name = 'Treament 1')
trace1 = go.Scatter(x = df["round"][10:20], y = df["take_rec"][10:20], hoverinfo='x+y', mode='lines',  name = 'Treament 2')
trace2 = go.Scatter(x = df["round"][20:30], y = df["take_rec"][20:30], hoverinfo='x+y', mode='lines',  name = 'Treament 3')
layout = go.Layout(title="Trust Ratio in 10 rounds in 3 treatments, P(B acquires|A recommends)", xaxis = dict(title="round"), yaxis = dict(title ="probability") ) 
data = [trace0,trace1,trace2]


fig1 = go.Figure(layout = layout, data = data) 
fig1.update_yaxes(type="log")
fig1.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(step="all"),
            dict(count=1, label="1m", step="month", stepmode="backward"),
            dict(count=3, label="3m", step="month", stepmode="backward"),
            dict(count=3, label="6m", step="month", stepmode="backward"),
            dict(count=1, label="1y", step="year", stepmode="backward"),
            dict(count=1, label="YTD", step="year", stepmode="todate"),
          
        ])))
py.iplot(fig1)

##Accuracy of B

Accuracy of B = P(B acquires | item good )*(item good/total item) + P(B not acquires|item bad)*(item bad/total item)

In [116]:
df.insert(12, "B_accuracy", [0]*30, True)

In [139]:
df['N_itemisgood']=[0]*30
df['N_take_good']=[0]*30
df['N_notake_bad']=[0]*30

In [140]:
df.head()

     round  N_itemisbad  N_rec_bad  ...  N_notake_bad  notake_bad  B_accuracy
dt1      1           29         28  ...             0    0.517241    0.581395
dt1      2           24         21  ...             0    0.666667    0.604651
dt1      3           28         18  ...             0    0.821429    0.627907
dt1      4           25         22  ...             0    0.560000    0.441860
dt1      5           23         19  ...             0    0.695652    0.534884

[5 rows x 13 columns]

In [141]:
dt1s.head()

   Unnamed: 0         Treat  Session  ID  ...  message  take  payoff  sequence
0           0  21-05-17_rec      301   1  ...        1     1      15       123
1           1  21-05-17_rec      301   1  ...        1     2       0       123
2           2  21-05-17_rec      301   1  ...        1     2       0       123
3           3  21-05-17_rec      301   1  ...        1     2       0       123
4           4  21-05-17_rec      301   1  ...        1     1      15       123

[5 rows x 12 columns]

In [142]:
#caculate Accuracy of B in Treatment One (dt1)
index=dt1s.index
for k in index:
  #B not acquires|item bad
  if dt1s['value'][k] < 60:
    roundnumber=dt1s['round'][k]-1
    if dt1s['take'][k]== 2:
      df['N_notake_bad'][roundnumber]+=1

  #B acquires|item good
  if dt1s['value'][k] >= 60:
    roundnumber=dt1s['round'][k]-1
    df['N_itemisgood'][roundnumber]+=1
    if dt1s['take'][k]== 1:
      df['N_take_good'][roundnumber]+=1

df['notake_bad'] = df['N_notake_bad']/df['N_itemisbad']
df['take_good'] = df['N_take_good']/df['N_itemisgood']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     round  N_itemisbad  N_rec_bad  ...  N_notake_bad  notake_bad  B_accuracy
dt1      1           29         28  ...            15    0.517241    0.581395
dt1      2           24         21  ...            16    0.666667    0.604651
dt1      3           28         18  ...            23    0.821429    0.627907
dt1      4           25         22  ...            14    0.560000    0.441860
dt1      5           23         19  ...            16    0.695652    0.534884

[5 rows x 13 columns]

In [143]:
dt2s.head()

   Unnamed: 0         Treat  Session  ID  ...  compare  payoff1  payoff2  sequence
1           1  21-05-17_rec      301   1  ...      NaN       15        0       123
2           2  21-05-17_rec      301   1  ...      NaN        0       15       123
3           3  21-05-17_rec      301   1  ...      NaN        0       15       123
5           5  21-05-17_rec      301   1  ...      NaN        0       15       123
6           6  21-05-17_rec      301   1  ...      NaN       15       15       123

[5 rows x 17 columns]

In [146]:
#caculate Accuracy of B in Treatment Two (dt2)
index=dt2s.index
for k in index:
  #B not acquires|item bad
  if dt2s['value1'][k] < 60:
    roundnumber=dt2s['round'][k]+9
    if dt2s['take1'][k]== 2:
      df['N_notake_bad'][roundnumber]+=1

  if dt2s['value2'][k] < 60:
    roundnumber=dt2s['round'][k]+9
    if dt2s['take2'][k]== 2:
      df['N_notake_bad'][roundnumber]+=1


  #B acquires|item good
  if dt2s['value1'][k] >= 60:
    roundnumber=dt2s['round'][k]+9
    df['N_itemisgood'][roundnumber]+=1
    if dt2s['take1'][k]== 1:
      df['N_take_good'][roundnumber]+=1

  if dt2s['value2'][k] >= 60:
    roundnumber=dt2s['round'][k]+9
    df['N_itemisgood'][roundnumber]+=1
    if dt2s['take2'][k]== 1:
      df['N_take_good'][roundnumber]+=1

df['notake_bad'] = df['N_notake_bad']/df['N_itemisbad']
df['take_good'] = df['N_take_good']/df['N_itemisgood']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     round  N_itemisbad  N_rec_bad  ...  N_notake_bad  notake_bad  B_accuracy
dt1      1           29         28  ...            15    0.517241    0.581395
dt1      2           24         21  ...            16    0.666667    0.604651
dt1      3           28         18  ...            23    0.821429    0.627907
dt1      4           25         22  ...            14    0.560000    0.441860
dt1      5           23         19  ...            16    0.695652    0.534884

[5 rows x 13 columns]

In [144]:
#caculate Accuracy of B in Treatment Three (dt3)
index=dt3s.index
for k in index:
  #B not acquires|item bad
  if dt3s['value1'][k] < 60:
    roundnumber=dt3s['round'][k]+19
    if dt3s['take1'][k]== 2:
      df['N_notake_bad'][roundnumber]+=1

  if dt3s['value2'][k] < 60:
    roundnumber=dt3s['round'][k]+19
    if dt3s['take2'][k]== 2:
      df['N_notake_bad'][roundnumber]+=1
  
  if dt3s['value3'][k] < 60:
    roundnumber=dt3s['round'][k]+19
    if dt3s['take3'][k]== 2:
      df['N_notake_bad'][roundnumber]+=1


  #B acquires|item good
  if dt3s['value1'][k] >= 60:
    roundnumber=dt3s['round'][k]+19
    df['N_itemisgood'][roundnumber]+=1
    if dt3s['take1'][k]== 1:
      df['N_take_good'][roundnumber]+=1

  if dt3s['value2'][k] >= 60:
    roundnumber=dt3s['round'][k]+19
    df['N_itemisgood'][roundnumber]+=1
    if dt3s['take2'][k]== 1:
      df['N_take_good'][roundnumber]+=1
  
  if dt3s['value3'][k] >= 60:
    roundnumber=dt3s['round'][k]+19
    df['N_itemisgood'][roundnumber]+=1
    if dt3s['take3'][k]== 1:
      df['N_take_good'][roundnumber]+=1

df['notake_bad'] = df['N_notake_bad']/df['N_itemisbad']
df['take_good'] = df['N_take_good']/df['N_itemisgood']
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     round  N_itemisbad  N_rec_bad  ...  N_notake_bad  notake_bad  B_accuracy
dt1      1           29         28  ...            15    0.517241    0.581395
dt1      2           24         21  ...            16    0.666667    0.604651
dt1      3           28         18  ...            23    0.821429    0.627907
dt1      4           25         22  ...            14    0.560000    0.441860
dt1      5           23         19  ...            16    0.695652    0.534884

[5 rows x 13 columns]

In [148]:
#calculate the Accuracy of B
df['B_accuracy']= (df['take_good']*(df['N_itemisgood']/(df['N_itemisgood']+df['N_itemisbad']))) + (df['notake_bad']*(df['N_itemisbad']/(df['N_itemisgood']+df['N_itemisbad'])))

In [149]:
df

     round  N_itemisbad  N_rec_bad  ...  N_notake_bad  notake_bad  B_accuracy
dt1      1           29         28  ...            15    0.517241    0.581395
dt1      2           24         21  ...            16    0.666667    0.604651
dt1      3           28         18  ...            23    0.821429    0.627907
dt1      4           25         22  ...            14    0.560000    0.441860
dt1      5           23         19  ...            16    0.695652    0.534884
dt1      6           27         21  ...            21    0.777778    0.558140
dt1      7           26         19  ...            19    0.730769    0.604651
dt1      8           17         14  ...            15    0.882353    0.558140
dt1      9           19         15  ...            17    0.894737    0.511628
dt1     10           25         19  ...            17    0.680000    0.511628
dt2      1           52         28  ...            33    0.634615    0.616279
dt2      2           53         21  ...            35    0.660377    0.674419
dt2      3           41         17  ...            28    0.682927    0.662791
dt2      4           49         25  ...            36    0.734694    0.674419
dt2      5           50         27  ...            32    0.640000    0.558140
dt2      6           60         34  ...            44    0.733333    0.744186
dt2      7           56         31  ...            44    0.785714    0.697674
dt2      8           52         28  ...            37    0.711538    0.662791
dt2      9           47         23  ...            34    0.723404    0.662791
dt2     10           60         37  ...            38    0.633333    0.674419
dt3      1           75         34  ...            52    0.693333    0.705426
dt3      2           76         33  ...            51    0.671053    0.697674
dt3      3           69         27  ...            48    0.695652    0.705426
dt3      4           72         37  ...            46    0.638889    0.643411
dt3      5           73         35  ...            47    0.643836    0.627907
dt3      6           66         29  ...            45    0.681818    0.658915
dt3      7           75         43  ...            43    0.573333    0.550388
dt3      8           81         40  ...            52    0.641975    0.689922
dt3      9           75         37  ...            51    0.680000    0.643411
dt3     10           74         36  ...            45    0.608108    0.581395

[30 rows x 13 columns]

In [150]:
trace0 = go.Scatter(x = df["round"][0:10], y = df["B_accuracy"][0:10], hoverinfo='x+y', mode='lines',  name = 'Treament 1')
trace1 = go.Scatter(x = df["round"][10:20], y = df["B_accuracy"][10:20], hoverinfo='x+y', mode='lines',  name = 'Treament 2')
trace2 = go.Scatter(x = df["round"][20:30], y = df["B_accuracy"][20:30], hoverinfo='x+y', mode='lines',  name = 'Treament 3')
layout = go.Layout(title="Accuracy of B in 10 rounds in 3 treatments, a weighted average of P(B acquires|item good) & P(B not acquires|item bad )", xaxis = dict(title="round"), yaxis = dict(title ="probability") ) 
data = [trace0,trace1,trace2]


fig1 = go.Figure(layout = layout, data = data) 
fig1.update_yaxes(type="log")
fig1.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(step="all"),
            dict(count=1, label="1m", step="month", stepmode="backward"),
            dict(count=3, label="3m", step="month", stepmode="backward"),
            dict(count=3, label="6m", step="month", stepmode="backward"),
            dict(count=1, label="1y", step="year", stepmode="backward"),
            dict(count=1, label="YTD", step="year", stepmode="todate"),
          
        ])))
py.iplot(fig1)